asgiref==3.5.0
boto3==1.21.44
botocore==1.24.46
Django==4.0.3
django-storages==1.12.3
dnspython==2.2.1
jmespath==1.0.0
pymongo==4.1.1
python-dateutil==2.8.2
python-snappy==0.6.1
s3transfer==0.5.2
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.9
pykerberos==1.2.4