{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<br>
<div class="d-flex justify-content-start">
  <div>
    <button onclick="location.href = '/'" type="button" class="btn btn-dark">Return to List</button>
  </div>
</div>
<div class="d-flex justify-content-center">
    <h1>{{ chname }}</h1>  
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <img class="channelimage rounded-circle" src="https://yt3.ggpht.com/ytc/AKedOLSk-AeebphZllYPnC6dyL4Ebaufx9EfWWcpWi5kvw=s88-c-k-c0x00ffffff-no-rj">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3 align-middle">
    <p>Most Viewed Video: Eminem - Love The Way You Lie ft. Rihanna</p>
  </div>
  <div class="col-md-3">
    <iframe width="420" height="315"
      src="https://www.youtube.com/embed/X-TkrWpO75k">
    </iframe>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Most Liked Video: Eminem - Love The Way You Lie ft. Rihanna</p>
  </div>
  <div class="col-md-9">
    <iframe width="420" height="315"
      src="https://www.youtube.com/embed/qEgu2xx5hjw">
    </iframe>
  </div>
</div>
<div class="d-flex justify-content-center">
  <h1>List Of Videos</h1>
</div>
{% for vid in videos %}
<div class="d-flex justify-content-center">
  <p>{{ vid }}</p>
</div>
{% endfor %}


{% endblock %}